@media screen and (max-width:1024px) {
    .block_content {
        width: 390px;
        margin: 0 auto;
        moz-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    .first_main_content {
        margin: 400px 0 0 0;
    }
    .third_main_content {
        margin: 150px 0 0 0;
    }
    .navbar-brand {
        padding: 15px 0;
    }
    .navbar-nav>li>a {
        padding: 15px 0;
    }
}
@media screen and (max-width:991px) {
    body {
        margin-top: 40px;
    }
    .pre_menu, .top-menu {
        margin-top: -40px;
    }
    .burger_menu {
        width: 25px;
        height: 21px;
        display: block;
        margin: 25px 0 0 25px;
        cursor: pointer;
    }
    .burger_item {
        display: block;
        width: 25px;
        height: 3px;
        margin: 0 0 5px;
        background: #000;
        -moz-transition-property: all;
        -o-transition-property: all;
        -webkit-transition-property: all;
        transition-property: all;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }
    nav {
        margin-top: 0;
    }
    nav a {
        margin-left: 0;
    }
    nav .navbar-right {
        display: block;
        position: absolute;
        width: auto;
        top: 0;
        right: 15px;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
    nav .navbar-right li {
        float: left;
        margin: -5px 10px 10px 10px;
        height: 50px;
    }
    .navbar-brand img {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        width: 100px;
        display: block!important;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
    .navbar-brand img:hover {
        transform: translateX(-50%);
    }
    .open>.dropdown-menu {
        display: none;
    }
    .navbar-nav {
        display: none;
        background: #fff;
        margin: 0;
    }
    .navbar-nav li {
        float: none;
    }
    .navbar-nav .dropdown-toggle {
        padding: 15px;
    }
    .visible_burger_menu {
        display: block!important;
    }
    .main_section {
        padding: 50px 0 0 0;
    }
    .main_content {
        margin: 25px 0;
    }
    footer {
        padding: 10px 0;
    }
    .footer-menu {
        margin: 10px 0;
    }
    .footer-menu, .social_icons {
        text-align: center;
    }
}
@media screen and (max-width:736px){
    .block_content {
        width: auto;
    }
    .text-logo_block {
        display: none;
    }
    footer {
        height: 135px;
    }
}
@media screen and (max-width:480px) {
    nav .navbar-right li {
        margin: 10px;
    }
    .pre_menu a {
        font-size: 11px;
    }
}
@media screen and (max-width:465px) {

}