@import "common";

@media screen and (max-width:1024px) {
    .block_content {
        width: 390px;
        margin: 0 auto;
        transform: none;
    }
    .first_main_content {
        margin: 400px 0 0 0;
    }
    .third_main_content {
        margin: 150px 0 0 0;
    }
    .navbar-brand {
        padding: 15px 0;
    }
    .navbar-nav>li>a {
        padding: 15px 0;
    }
}
@media screen and (max-width:991px) {
    body {
        margin-top: 40px;
    }
    .pre_menu, .top-menu {
        margin-top: -40px;
    }
    .burger_menu {
        width: 25px;
        height: 21px;
        display: block;
        margin: 10px 0 0 25px;
        cursor: pointer;
    }
    .burger_item {
        display: block;
        width: 25px;
        height: 3px;
        margin: 0 0 5px;
        background: #000;
        transition-property: all;
        transition-duration: 0.2s;
    }
    nav {
        margin-top: 0;
    }
    nav a {
        margin-left: 0;
    }
    nav .navbar-right {
        display: block;
        position: absolute;
        width: auto;
        height: 40px;
        top: 0;
        right: 15px;
        margin: 0;
        transition: none;
    }
    nav .navbar-right li {
        float: left;
        margin: 15px 10px;
        height: auto;
    }
    .navbar-brand {
        width: 0;
    }
    .navbar-brand a img {
        position: absolute;
        top: -3px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        width: 100px;
        display: block!important;
        transition: none;
    }
    .navbar-brand a .scroll-logo {
        width: 100px;
    }
    //.navbar-brand a img:hover {
    //    transform: translateX(-50%);
    //}
    .navbar-nav > li > a {
        padding: 0;
    }
    .navbar-nav {
        width: 100%;
        display: none;
        background: #fff;
        margin: 0;
        text-align: center;
        margin-top: 40px;
    }
    .navbar-nav li {
        float: none;
    }
    .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        left: 0;
        float: none;
        text-align: center;
        background: #000;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        border-radius: 0;
    }
    .navbar-nav .dropdown-toggle {
        padding: 15px;
    }
    .navbar-right {
        display: block;
    }
    .visible_burger_menu {
        display: block!important;
    }
    .main_section {
        padding: 50px 0 0 0;
    }
    .main_content {
        margin: 25px 0;
    }
    footer {
        padding: 10px 0;
    }
    .footer-menu {
        margin: 10px 0;
    }
    .footer-menu, .social_icons {
        text-align: center;
    }
}
@media screen and (max-width:736px){
    .block_content {
        width: auto;
    }
    .text-logo_block {
        display: none;
    }
    footer {
        height: 135px;
    }
}
@media screen and (max-width:480px) {
    nav .navbar-right li {
        margin: 15px 5px;
    }
    .pre_menu a {
        font-size: 14px;
    }
}
@media screen and (max-width:465px) {

}