@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import url(https://fonts.googleapis.com/css?family=Arimo:700&subset=latin,cyrillic);
$hell_main_color: #9BA477;
$hell_red: #EC000E;

body {
  font-family: 'Arimo', sans-serif;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.css-form input.ng-invalid.ng-touched {
    border: 2px solid  $hell_red;
  }

  .css-form input.ng-valid.ng-touched {
    border: 2px solid $hell_main_color;
  }

.css-form textarea.ng-invalid.ng-touched {
    border: 2px solid $hell_red;
  }

  .css-form textarea.ng-valid.ng-touched {
    border: 2px solid $hell_main_color;
  }

.btn:focus,.btn:active {
   outline: none !important;
   }

.form-control:focus {
 border-color: #FF0000;
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


@mixin center-block {
  float:none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-block {
  @include center-block;
}


.large-input {
  height: 60px;
  border-radius: 0;

  }

.btn-sign-in {
  height: 60px;
  border-radius: 0;
  background-color: #21211F ;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  &:hover {
    color: white;
    }
  &:active {
    color: $hell_red;
    }
}


.logo-navbar {
  padding-top: 5px;
}

.container-under {
  margin-top: 100px;
  }


.btn {
  border-radius: 0;
  border-size: 3px;
  border-width: 5px;
  }

.form-actions {
  .btn-block-left,
  .btn-block-right{
    @extend .btn-block;
    margin-top: 5px;
    width: 49%;
    }

  .btn-block-left{
    @extend .pull-left;
    }

  .btn-block-right{
    @extend .pull-right;
    }


}

.panel.panel-default {
  border-radius: 0;
  border-width: 5px;
  }

.required:after {
  color: red;
  content: ' *';
  }


.form-control {
  border-radius: 0;
  height: 60px;
  }

.image-block > img {
  width: 100%;
  heigth: auto;
  }

#body {
  -webkit-animation: background 5s cubic-bezier(1,0,0,1) infinite;
  animation: background 5s cubic-bezier(1,0,0,1) infinite;
}


@-webkit-keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

@keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

.category-panel {
  border: 1px solid gray;
  min-height: 50px;
  padding: 2%;

  }
.category-panel.nested {
  margin-left: 5%;
  }


.category-panel.low-nested {
  margin-left: 10%;
  }

.category-panel.low-nested:first-child {
  border-bottom: 0px solid gray;
  }
.category-panel.low-nested:last-child {
  border-bottom: 1px solid gray;
  }


.child-panel {
  margin-top: 20px;
  margin-bottom: 20px;
  }

.category-name {
  font-size: 20px;
  margin-top: 7px;
  font-weight: bold;
  text-transform: uppercase;
}

.nested-text {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 7px;

}


.low-nested + .low-nested{
  border-bottom: 0px solid gray;
}

input#exampleInputName2 {
  width: 250px;
  }


.paginator {padding: 20px 0 30px;margin: 0 auto;}
  .paginator ul {display: block;list-style: none; text-align: center;}
  .paginator ul li {display: inline-block;width: 25px;height: 25px;border: 1px solid #cdcdcd;border-radius: 100%;margin: 0 7px;text-align: center;vertical-align: middle;background: #ffffff;}
  .paginator ul li.active {background: #cdcdcd;}
  .paginator ul li a {display: block;text-align: center;height: 25px;line-height: 25px;font-size: 14px;text-decoration: none;color: #cdcdcd;}
  .paginator ul li.active a {color: #ffffff;}
.admin-image {
  width: 320px;
  height: 280px;
  }

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }

.col-md-12.result-slot {
  transition: all 0.7s ease;
  width: 100%;
  margin: auto;
  text-align: left;
  margin-top: 10px;
  background: #F2F2F2;
  padding: 10px;
  box-shadow: 0px 0px 5px #CCC;

&:hover {
  cursor: pointer;
  background-color: #9BA477;
  color: white;
  font-size: 20px;
  height: auto;

  }
}

.super-class {
   font-weight: bold;
    font-size: 2em;
    color: red;
}

.bottom_20 {
  margin-bottom: 30px;
  }

.open-gallery-link {
  cursor: pointer;
  }

.category-label {font-size: 20px;}

 .text-center { text-align: center; }

.product-link {
   color: black;
   &:hover {
     color: black;
   }

 }
.button-control-group {
   margin-top: 60px;
 }

.img-height {
  max-height: 330px;
  height: 330px;
}

div.upload {
    .p-class {
      position: absolute;
      top: 4%;
      left: 25%;
      }

    .relation-position {
      text-align: center;
      padding-top: 2%;
      font-size: 2.2vh;
      cursor: pointer;

      &:hover {
      cursor: pointer;

      }
      }


    height: 45px;
    color: #f1e5e6;
    background-color: #867BDC;
    &:hover { cursor:pointer;}
    overflow: hidden;

}

div.upload input {
    cursor: pointer;
    display: block !important;
    width: 100%;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;

}



.btn-remove {
  height: 60px;
  margin-bottom: 30px;
  }

.sizes-block {
  margin-bottom: 30px;
}

.size-block {
  border: 2px dashed;
  h1 {
    color:  #f31414;
}
}
.product-marking {

  color: gray;

  text-align: right;
 }
h4.great {
   background: #62cec1;
    //margin: 0 0 25px -47px;
    padding: 7px 15px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    display: inline-block;
    //-moz-box-shadow: 2px 4px 5px 0 #ccc;
    //-webkit-box-shadow: 2px 4px 5px 0 #ccc;
    //box-shadow: 2px 4px 5px 0 #ccc;
}

.my-badge {
  background-color: inherit !important; }

 .head-attr {
   //padding-top: 10px;
   //padding-bottom: 10px;
  border: 2px dashed;
  color: #dc9b44;
    }

  .body-attr {
    border-right: 2px dashed;
    border-left: 2px dashed;
    border-bottom: 2px dashed;
    color: white;
    background: #dc9b44;
    }

.attr-block {
  padding-top: 10px;
  }

.label-size {
  background-color: #79528a;
  }

.category-line {
  font-size: 11px;
}

  .text-right {
    text-align: right;
    }

.form-search {
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  .form-control {
    height: 42px;
    }
  }


.closed-search {
  display: none;
 }

   .btn-circle {
     border-radius: 50px;
     }

.btn-create {
  border: 3px dashed white;
  }


.color-field {
  height: 150px;
  width: 150px;
  margin-left: 100px;
  }

.color-box {
  height: 100px;
  width: 100%;
  }
