@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$hell_main_color: #9BA477;
$hell_red: #EC000E;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.css-form input.ng-invalid.ng-touched {
    border: 2px solid  $hell_red;
  }

  .css-form input.ng-valid.ng-touched {
    border: 2px solid $hell_main_color;
  }

.css-form textarea.ng-invalid.ng-touched {
    border: 2px solid $hell_red;
  }

  .css-form textarea.ng-valid.ng-touched {
    border: 2px solid $hell_main_color;
  }

.btn:focus,.btn:active {
   outline: none !important;
   }

.form-control:focus {
 border-color: #FF0000;
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


@mixin center-block {
  float:none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-block {
  @include center-block;
}


.large-input {
  height: 60px;
  border-radius: 0;

  }

.btn-sign-in {
  height: 60px;
  border-radius: 0;
  background-color: #21211F ;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  &:hover {
    color: white;
    }
  &:active {
    color: $hell_red;
    }
}


.logo-navbar {
  padding-top: 5px;
}

.container-under {
  margin-top: 100px;
  }


.btn {
  border-radius: 0;
  border-size: 3px;
  border-width: 5px;
  }

.form-actions {
  .btn-block-left,
  .btn-block-right{
    @extend .btn-block;
    margin-top: 5px;
    width: 49%;
    }

  .btn-block-left{
    @extend .pull-left;
    }

  .btn-block-right{
    @extend .pull-right;
    }


}

.panel.panel-default {
  border-radius: 0;
  border-width: 5px;
  }

.required:after {
  color: red;
  content: ' *';
  }


.form-control {
  border-radius: 0;
  height: 60px;
  }

.image-block > img {
  width: 100%;
  heigth: auto;
  }

#body {
  -webkit-animation: background 5s cubic-bezier(1,0,0,1) infinite;
  animation: background 5s cubic-bezier(1,0,0,1) infinite;
}


@-webkit-keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

@keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

.category-panel {
  border: 1px solid gray;
  min-height: 50px;
  padding: 2%;

  }
.category-panel.nested {
  margin-left: 5%;
  }


.category-panel.low-nested {
  margin-left: 10%;
  }

.category-panel.low-nested:first-child {
  border-bottom: 0px solid gray;
  }
.category-panel.low-nested:last-child {
  border-bottom: 1px solid gray;
  }


.child-panel {
  margin-top: 20px;
  margin-bottom: 20px;
  }

.category-name {
  font-size: 20px;
  margin-top: 7px;
  font-weight: bold;
  text-transform: uppercase;
}

.nested-text {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 7px;

}


.low-nested + .low-nested{
  border-bottom: 0px solid gray;
}

input#exampleInputName2 {
  width: 250px;
  }


.paginator {padding: 20px 0 30px;margin: 0 auto;}
  .paginator ul {display: block;list-style: none; text-align: center;}
  .paginator ul li {display: inline-block;width: 25px;height: 25px;border: 1px solid #cdcdcd;border-radius: 100%;margin: 0 7px;text-align: center;vertical-align: middle;background: #ffffff;}
  .paginator ul li.active {background: #cdcdcd;}
  .paginator ul li a {display: block;text-align: center;height: 25px;line-height: 25px;font-size: 14px;text-decoration: none;color: #cdcdcd;}
  .paginator ul li.active a {color: #ffffff;}
.admin-image {
  width: 320px;
  height: 280px;
  }
