.btn-group(aria-label="Basic example" role="group")
  = link_to t(:show), admin_size_url(size), class: 'btn btn-default'
  = link_to t(:edit), edit_admin_size_url(size), class: 'btn btn-default'
  = link_to t(:destroy), admin_size_url(size), method: :delete, class: 'btn btn-default', data: {confirm: t(:are_you_sure)  }